:root {
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-red: #FF232B;

  --font-family-montserrat: 'Montserrat', sans-serif;

  --font-size-16: 16px;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

body {
  margin: 0;
  height: 200vh;
  font-family: var(--font-family-montserrat);
}