@font-face {
  font-family: "Formula1-Regular";
  src: url("./fonts/formula1/Formula1-Regular.otf");
}

@font-face {
  font-family: "Formula1-Bold";
  src: url("./fonts/formula1/Formula1-Bold.otf");
}

:root {
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-red: #FF232B;
  --color-gray: #B1B1B1;
  --color-light-gray: #E6E6E6;
  --color-dark-gray: #252525;

  --gradient: linear-gradient(-45deg, #111111, #B1B1B1, #FF232B, #FFFFFF);

  --font-family-montserrat: 'Montserrat', sans-serif;
  --font-family-f1-regular: 'Formula1-Regular', sans-serif;
  --font-family-f1-bold: 'Formula1-Bold', sans-serif;

  --font-size-16: 16px;
  --font-size-24: 24px;
  --font-size-40: 40px;
  --font-size-96: 96px;
}

h1,h2,h3,h4,h5,h6,hr,p {
  margin: 0;
}

body {
  background-color: antiquewhite;
  margin: 0;
  font-family: var(--font-family-montserrat);
}

main {
  margin-top: 50px;
}