.container {
  display: flex;
  flex-direction: column;
  padding: 0 200px;
  background-image: var(--gradient);
  background-size: 300%;
  animation: bg-animation 15s infinite;
}

.profile {
  background-color: var(--color-gray);
  font-family: var(--font-family-f1-regular);
  display: flex;
  gap: 20px;
  align-items: center;
}

.profilePic {
  height: 300px;
  width: 300px;
  object-fit: contain;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.info h1 {
  font-size: var(--font-size-40);
}

.info p {
  font-size: var(--font-size-36);
}

.nationality {
  display: flex;
  align-items: center;
  gap: 30px;
}

.flag {
  width: 60px;
  height: 40px;
  object-fit: cover;
}

.constructorStats {
  background-color: var(--color-gray);
  font-family: var(--font-family-f1-bold);
  padding: 20px;
}

.sectionTitle {
  font-size: var(--font-size-40);
}

.stats {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.stat {
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  gap: 20px;
  justify-content: space-between;
  background-color: var(--color-white);
  border-radius: 15px;
}

.statTitle {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: var(--font-size-24);
}

.statTitle img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.statValue {
  font-size: var(--font-size-64);
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}