.container {
  display: flex;
  flex-direction: column;
  padding: 0 200px;
  background-image: var(--gradient);
  background-size: 300%;
  animation: bg-animation 15s infinite;
}

.profile {
  background-color: var(--color-gray);
  font-family: var(--font-family-f1-regular);
  display: flex;
  gap: 20px;
}

.profilePic {
  height: 300px;
  width: 300px;
  object-fit: contain;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.info h1 {
  font-size: var(--font-size-40);
}

.info p {
  font-size: var(--font-size-36);
}

.nationality {
  display: flex;
  align-items: center;
  gap: 30px;
}

.flag {
  width: 60px;
  height: 40px;
  object-fit: cover;
}

.careerStats {
  background-color: var(--color-gray);
  font-family: var(--font-family-f1-bold);
  padding: 20px;
}

.sectionTitle {
  font-size: var(--font-size-40);
}

.stats {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.stat {
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  gap: 20px;
  justify-content: space-between;
  background-color: var(--color-white);
  border-radius: 15px;
}

.statTitle {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: var(--font-size-24);
}

.statTitle img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.statValue {
  font-size: var(--font-size-64);
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 50px;
  }

  .profile {
    flex-direction: column;
    align-items: center;
  }

  .profilePic {
    height: 250px;
    width: 250px;
  }

  .info h1 {
    font-size: var(--font-size-36);
  }

  .info p {
    font-size: var(--font-size-20);
  }

  .nationality {
    gap: 15px;
  }

  .flag {
    width: 50px;
    height: 30px;
  }

  .careerStats {
    padding: 15px;
  }

  .sectionTitle {
    font-size: var(--font-size-30);
  }

  .stats {
    gap: 15px;
    align-items: center;
  }

  .stat {
    width: 300px;
  }

  .statValue {
    font-size: var(--font-size-48);
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }

  .profilePic {
    height: 200px;
    width: 200px;
  }

  .info h1 {
    font-size: var(--font-size-30);
  }

  .info p {
    font-size: var(--font-size-18);
  }

  .flag {
    width: 40px;
    height: 25px;
  }

  .stats {
    flex-direction: column;
    gap: 10px;
  }

  .stat {
    width: 100%;
  }

  .statValue {
    font-size: var(--font-size-40);
  }
}