.mainSection{
    margin: 0;
    padding: 0;
    background-image: url("../assets/background_results.png");
    background-size: cover; 
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 80px;
    background-color: var(--color-gray);
  }

.search select {
    background-color: var(--color-white);
    border: none;
    padding: 6px 20px;
    font-size: var(--font-size-24);
    font-family: var(--font-family-montserrat);
    border-radius: 15px;
    cursor: pointer;
}  

.search div{
    display: flex;
    gap: 20px;
}

.search button{
    font-size: var(--font-size-24);
    font-family: var(--font-family-montserrat);
    padding: 6px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.normalButton{
    background-color: var(--color-white);
    color: var(--color-red);
}

.activeButton{
    color: var(--color-white);
    background-color: var(--color-red);
}

@media screen and (max-width: 1440px) {
    .search {
      height: auto;
      padding: 15px;
      gap: 15px;
    }
  
    .search select {
      font-size: var(--font-size-20);
      padding: 5px 15px;
    }
  
    .search div {
      gap: 15px;
    }
  
    .search button {
      font-size: var(--font-size-20);
      padding: 5px 15px;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .search {
      flex-direction: column;
      height: auto;
      padding: 20px 10px;
      gap: 10px;
    }
  
    .search select {
      font-size: var(--font-size-18);
      padding: 5px 10px;
    }
  
    .search div {
      flex-direction: column;
      gap: 10px;
    }
  
    .search button {
      font-size: var(--font-size-18);
      padding: 5px 10px;
    }
  }