.footer {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 70px 100px 55px 100px;
}

.footer hr {
  border: none;
  width: 100%;
  height: 1px;
  background-color: var(--color-red);
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo h1 {
  font-size: var(--font-size-16);
  text-transform: uppercase;
  font-weight: bold;
  font-family: var(--font-family-f1-bold);
}