.header {
  position: fixed;
  top: 0;
  background-color: var(--color-white);
  width: 100%;
  z-index: 1;
}

.nav {
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 0 100px;
  height: 50px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo h1 {
  font-size: var(--font-size-16);
  text-transform: uppercase;
  font-weight: bold;
  font-family: var(--font-family-f1-bold);
}

.links {
  display: flex;
  align-items: center;
  gap: 30px;
}

a {
  text-decoration: none;
  color: var(--color-black);
  font-size: var(--font-size-16);
}

.links a:hover,
.active {
  color: var(--color-red);
  text-decoration: underline;
}