.stat {
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  gap: 20px;
  justify-content: space-between;
  background-color: var(--color-white);
  border-radius: 15px;
}

.statTitle {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: var(--font-size-24);
}

.statTitle img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.statValue {
  font-size: var(--font-size-64);
}